
body {
  background: #fafbfd;
}

html {
  color: black;
  line-height: 1.5;
}

a {
  color: #0784c0;
  text-decoration: none;
}

a:hover {
  color: #045a87;
}

.defaultcolor, .defaultcolor:hover  {
  color: inherit;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #aaa;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
