### The following variables are required for the application to work

# Database URLs, used in schema.prisma, see https://www.prisma.io/docs/reference/database-reference/connection-urls
POSTGRES_URL_NON_POOLING=""
POSTGRES_PRISMA_URL=""

# Sample configuration for a local postgres database
#POSTGRES_URL_NON_POOLING="postgresql://postgres:myPassword@localhost/dkim_lookup"
#POSTGRES_PRISMA_URL="postgresql://postgres:myPassword@localhost/dkim_lookup"


### The following variables are only required if you want to use the restricted api endpoints

# Google OAuth 2.0 Client IDs configuration, https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""

# NextAuth.js secret, see https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""

# NextAuth.js URL, see https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL=""

### The following variables are only required if you want to use the cron job

# Batch update request authorization
CRON_SECRET=""
